<% extend('./layout/layout.ejs') %>



<div class="hex-blog">

    <div class="row justify-content-center">
        <div class="col-md-9">

            <h1>
                <%- title %>
            </h1>

        </div>
    </div>

</div>